<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>EngineRuntime</string>
	<key>CFBundleIdentifier</key>
	<string>com.EngineSoftware.EngineRuntime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Engine Runtime</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Engine Software. 2018</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string>Engine Runtime</string>
</dict>
</plist>
