<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Test Application</string>
	<key>CFBundleDisplayName</key>
	<string>Test Application</string>
	<key>CFBundleIdentifier</key>
	<string>com.EngineSoftware.tests</string>
	<key>CFBundleVersion</key>
	<string>1.0.0.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>test</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Engine Software. 2018</string>
	<key>NSHighResolutionMagnifyAllowed</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
</dict>
</plist>
